# 设置固件大小:
CONFIG_TARGET_KERNEL_PARTSIZE=30
CONFIG_TARGET_ROOTFS_PARTSIZE=960

CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_GRUB_TIMEOUT="0"
CONFIG_SIGNATURE_CHECK=n
CONFIG_TARGET_ROOTFS_EXT4FS=n
CONFIG_LUCI_CSSTIDY=n
CONFIG_GRUB_CONSOLE=n
CONFIG_BUILD_PATENTED=y

# EFI支持:
CONFIG_GRUB_IMAGES=y
CONFIG_EFI_IMAGES=y
CONFIG_VMDK_IMAGES=n
CONFIG_TARGET_ROOTFS_TARGZ=n

# IPv6支持:
CONFIG_IPV6=n

# USB3.0支持:
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_kmod-usb2-pci=y
CONFIG_PACKAGE_kmod-usb3=y

# Applications
CONFIG_PACKAGE_luci-app-accesscontrol=y
CONFIG_PACKAGE_luci-app-acme=y
CONFIG_PACKAGE_luci-app-adblock=n
CONFIG_PACKAGE_luci-app-adbyby-plus=m
CONFIG_PACKAGE_luci-app-adguardhome=y
CONFIG_PACKAGE_luci-app-advanced-reboot=n
CONFIG_PACKAGE_luci-app-advancedsetting=y
CONFIG_PACKAGE_luci-app-airplay2=m
CONFIG_PACKAGE_luci-app-amule=y
CONFIG_PACKAGE_luci-app-aria2=y
CONFIG_PACKAGE_luci-app-arpbind=n
CONFIG_PACKAGE_luci-app-autoreboot=y
CONFIG_PACKAGE_luci-app-baidupcs-web=y
CONFIG_PACKAGE_luci-app-banip=n
CONFIG_PACKAGE_luci-app-bcp38=n
CONFIG_PACKAGE_luci-app-bird1-ipv4=n
CONFIG_PACKAGE_luci-app-bird1-ipv6=n
CONFIG_PACKAGE_luci-app-bmx7=n
CONFIG_PACKAGE_luci-app-cifs-mount=m
CONFIG_PACKAGE_luci-app-cifsd=n
CONFIG_PACKAGE_luci-app-clamav=n
CONFIG_PACKAGE_luci-app-commands=n
CONFIG_PACKAGE_luci-app-cshark=n
CONFIG_PACKAGE_luci-app-dcwapd=n
CONFIG_PACKAGE_luci-app-ddns=y
CONFIG_PACKAGE_luci-app-diag-core=n
CONFIG_PACKAGE_luci-app-diskman=y
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_btrfs_progs=y
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_lsblk=y
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_mdadm=y
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_kmod_md_raid456=y
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_kmod_md_linear=n
CONFIG_PACKAGE_luci-app-dnscrypt-proxy=n
CONFIG_PACKAGE_luci-app-dnsforwarder=n
CONFIG_PACKAGE_luci-app-dockerman=y
CONFIG_PACKAGE_luci-app-dockerman_INCLUDE_docker_ce=y
CONFIG_PACKAGE_luci-app-dockerman_INCLUDE_ttyd=y
CONFIG_PACKAGE_luci-app-dump1090=n
CONFIG_PACKAGE_luci-app-dynapoint=n
CONFIG_PACKAGE_luci-app-e2guardian=n
CONFIG_PACKAGE_luci-app-eqos=y
CONFIG_PACKAGE_luci-app-familycloud=n
CONFIG_PACKAGE_luci-app-filerun=n
CONFIG_PACKAGE_luci-app-filetransfer=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-app-flowoffload=y
CONFIG_PACKAGE_luci-app-frpc=n
CONFIG_PACKAGE_luci-app-frps=n
CONFIG_PACKAGE_luci-app-fwknopd=n
CONFIG_PACKAGE_luci-app-guest-wifi=n
CONFIG_PACKAGE_luci-app-haproxy-tcp=n
CONFIG_PACKAGE_luci-app-hd-idle=y
CONFIG_PACKAGE_luci-app-hnet=n
CONFIG_PACKAGE_luci-app-https-dns-proxy=n
CONFIG_PACKAGE_luci-app-kodexplorer=n
CONFIG_PACKAGE_luci-app-ksmbd=y
CONFIG_PACKAGE_luci-app-lxc=n
CONFIG_PACKAGE_luci-app-minidlna=n
CONFIG_PACKAGE_luci-app-mjpg-streamer=n
CONFIG_PACKAGE_luci-app-mtwifi=n
CONFIG_PACKAGE_luci-app-music-remote-center=m
CONFIG_PACKAGE_luci-app-mwan3=n
CONFIG_PACKAGE_luci-app-mwan3helper=n
CONFIG_PACKAGE_luci-app-n2n_v2=n
CONFIG_PACKAGE_luci-app-netdata=y
CONFIG_PACKAGE_luci-app-nextdns=n
CONFIG_PACKAGE_luci-app-nfs=y
CONFIG_PACKAGE_luci-app-nft-qos=n
CONFIG_PACKAGE_luci-app-nlbwmon=y
CONFIG_PACKAGE_luci-app-noddos=n
CONFIG_PACKAGE_luci-app-nps=n
CONFIG_PACKAGE_luci-app-ntpc=n
CONFIG_PACKAGE_luci-app-nut=n
CONFIG_PACKAGE_luci-app-oaf=y
CONFIG_PACKAGE_luci-app-ocserv=n
CONFIG_PACKAGE_luci-app-olsr=n
CONFIG_PACKAGE_luci-app-olsr-services=n
CONFIG_PACKAGE_luci-app-olsr-viz=n
CONFIG_PACKAGE_luci-app-openclash=m
CONFIG_PACKAGE_luci-app-openvpn=n
CONFIG_PACKAGE_luci-app-openvpn-server=n
CONFIG_PACKAGE_luci-app-opkg=y
CONFIG_PACKAGE_luci-app-p910nd=n
CONFIG_PACKAGE_luci-app-pagekitec=n

CONFIG_PACKAGE_luci-app-passwall=m

CONFIG_PACKAGE_luci-app-php-kodexplorer=m
CONFIG_PACKAGE_luci-app-polipo=n
CONFIG_PACKAGE_luci-app-pppoe-relay=n
CONFIG_PACKAGE_luci-app-privoxy=n
CONFIG_PACKAGE_luci-app-qbittorrent=y
CONFIG_PACKAGE_luci-app-qos=n
CONFIG_PACKAGE_luci-app-radicale=n
CONFIG_PACKAGE_luci-app-radicale2=n
CONFIG_PACKAGE_luci-app-ramfree=y
CONFIG_PACKAGE_luci-app-rclone=y
CONFIG_PACKAGE_luci-app-rosy-file-server=n
CONFIG_PACKAGE_luci-app-rp-pppoe-server=n
CONFIG_PACKAGE_luci-app-samba=n
CONFIG_PACKAGE_luci-app-samba4=n
CONFIG_PACKAGE_luci-app-serverchan=y
CONFIG_PACKAGE_luci-app-shadowsocks-libev=n
CONFIG_PACKAGE_luci-app-shairplay=n
CONFIG_PACKAGE_luci-app-siitwizard=n
CONFIG_PACKAGE_luci-app-simple-adblock=n
CONFIG_PACKAGE_luci-app-smartdns=y
CONFIG_PACKAGE_luci-app-snmpd=n
CONFIG_PACKAGE_luci-app-softethervpn=m
CONFIG_PACKAGE_luci-app-splash=n
CONFIG_PACKAGE_luci-app-sqm=y
CONFIG_PACKAGE_luci-app-squid=n

CONFIG_PACKAGE_luci-app-ssr-plus=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_V2ray_plugin=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_V2ray=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Trojan=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Redsocks2=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Kcptun=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Server=n

CONFIG_PACKAGE_luci-app-ssrserver-python=n
CONFIG_PACKAGE_luci-app-statistics=n
CONFIG_PACKAGE_luci-app-syncdial=m
CONFIG_PACKAGE_luci-app-tinyproxy=n
CONFIG_PACKAGE_luci-app-transmission=y
CONFIG_PACKAGE_luci-app-travelmate=n
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-udpxy=n
CONFIG_PACKAGE_luci-app-uhttpd=n
CONFIG_PACKAGE_luci-app-unblockmusic=y
CONFIG_UnblockNeteaseMusic_Go=n
CONFIG_UnblockNeteaseMusic_NodeJS=y
CONFIG_PACKAGE_luci-app-unbound=n
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-usb-printer=m
CONFIG_PACKAGE_luci-app-v2ray-server=n
CONFIG_PACKAGE_luci-app-verysync=m
CONFIG_PACKAGE_luci-app-vlmcsd=y
CONFIG_PACKAGE_luci-app-vnstat=n
CONFIG_PACKAGE_luci-app-vpn-policy-routing=n
CONFIG_PACKAGE_luci-app-vpnbypass=n
CONFIG_PACKAGE_luci-app-vsftpd=m
CONFIG_PACKAGE_luci-app-watchcat=y
CONFIG_PACKAGE_luci-app-webadmin=n
CONFIG_PACKAGE_luci-app-wifischedule=n
CONFIG_PACKAGE_luci-app-wireguard=n
CONFIG_PACKAGE_luci-app-wol=n
CONFIG_PACKAGE_luci-app-wrtbwmon=n
CONFIG_PACKAGE_luci-app-xlnetacc=m
CONFIG_PACKAGE_luci-app-zerotier=m

# CONFIG_PACKAGE_samba4-admin=y
# CONFIG_PACKAGE_samba4-server=y
# CONFIG_PACKAGE_samba4-utils=y

CONFIG_PACKAGE_dnsmasq=n
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_dnsmasq_full_dhcp=y
CONFIG_PACKAGE_dnsmasq_full_ipset=y

# Themes
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-theme-opentomato=y
CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_PACKAGE_luci-theme-material=y
CONFIG_PACKAGE_luci-theme-openwrt=y
CONFIG_PACKAGE_luci-theme-rosy=y

# 其他需要安装的软件包:
CONFIG_PACKAGE_luci-ssl-nginx=y
CONFIG_NGINX_HTTP_V2=y
CONFIG_NGINX_DAV=y
CONFIG_NGINX_NAXSI=n
CONFIG_PACKAGE_luci=n # uhttpd服务
CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-compat=y
CONFIG_PACKAGE_luci-proto-ppp=y
CONFIG_LUCI_LANG_zh_Hans=y
CONFIG_LUCI_LANG_en=y
CONFIG_PACKAGE_transmission-web-control=y
CONFIG_PACKAGE_fuse-utils=y
CONFIG_PACKAGE_python3=y
CONFIG_PACKAGE_python3-yaml=y
CONFIG_PACKAGE_python3-urllib3=y
CONFIG_PACKAGE_python3-pip=y
CONFIG_PACKAGE_default-settings=y
CONFIG_PACKAGE_iptables-mod-nat-extra=y
CONFIG_PACKAGE_iptables-mod-filter=y
CONFIG_PACKAGE_bind-dig=y
CONFIG_PACKAGE_wget=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_httping=y
CONFIG_PACKAGE_tcping=y
CONFIG_PACKAGE_autocore=n
CONFIG_PACKAGE_automount=y
CONFIG_PACKAGE_autosamba=n
CONFIG_PACKAGE_fdisk=y
CONFIG_PACKAGE_cfdisk=y
CONFIG_PACKAGE_nano=y
CONFIG_PACKAGE_iptables-mod-fullconenat=y
# CONFIG_PACKAGE_git=y
# CONFIG_PACKAGE_git-http=y
CONFIG_PACKAGE_antileech=y
CONFIG_PACKAGE_acme-dnsapi=y
CONFIG_PACKAGE_pdnsd-alt=y
CONFIG_PACKAGE_ddns-scripts_aliyun=y
CONFIG_PACKAGE_docker-ce=n
CONFIG_V2RAY_COMPRESS_UPX=n
# CONFIG_DEVEL=y
# CONFIG_TOOLCHAINOPTS=y
# CONFIG_GCC_USE_VERSION_7=y
CONFIG_PACKAGE_ksmbd-utils=y
CONFIG_PACKAGE_lm-sensors-detect=y
CONFIG_PACKAGE_bc=y
CONFIG_PACKAGE_ethtool=y
CONFIG_PACKAGE_libsqlite3=y
CONFIG_PACKAGE_file=y
CONFIG_PACKAGE_adguardhome=y
CONFIG_PACKAGE_ariang-nginx=y
CONFIG_PACKAGE_kmod-usb-printer=y
CONFIG_PACKAGE_kmod-fs-exfat0=y #Will only be built for kernel 4.19
CONFIG_PACKAGE_kmod-vmxnet3=y
CONFIG_PACKAGE_kmod-igbvf=y
CONFIG_PACKAGE_kmod-ixgbe=y
CONFIG_PACKAGE_kmod-pcnet32=y
CONFIG_PACKAGE_kmod-r8125=y
CONFIG_PACKAGE_kmod-8139cp=y
CONFIG_PACKAGE_kmod-8139too=y
CONFIG_PACKAGE_kmod-i40e=y
CONFIG_PACKAGE_kmod-i40evf=y
CONFIG_PACKAGE_kmod-usb-net=y
CONFIG_PACKAGE_kmod-usb-net-rtl8150=y
CONFIG_PACKAGE_kmod-usb-net-rtl8152=y
CONFIG_PACKAGE_kmod-sound-core=y
CONFIG_PACKAGE_kmod-usb-audio=y
CONFIG_PACKAGE_unzip=y
CONFIG_PACKAGE_bash=y
CONFIG_GRUB_BOOTOPTS="nomodeset"
CONFIG_KERNEL_BUILD_USER="GaryPang"

CONFIG_PACKAGE_imagemagick=n
CONFIG_PACKAGE_ffmpeg=n

# CONFIG_PACKAGE_php7=y
# CONFIG_PACKAGE_php7-fpm=y
# CONFIG_PACKAGE_php7-mod-session=y
# CONFIG_PACKAGE_php7-mod-curl=y
# CONFIG_PACKAGE_php7-mod-gd=y
# CONFIG_PACKAGE_php7-mod-session=y
# CONFIG_PACKAGE_php7-mod-ctype=y
# CONFIG_PACKAGE_php7-mod-json=y
# CONFIG_PACKAGE_php7-mod-mbstring=y
# CONFIG_PACKAGE_php7-mod-filter=y
# CONFIG_PACKAGE_php7-mod-opcache=y
# CONFIG_PACKAGE_php7-mod-sockets=y
# CONFIG_PACKAGE_php7-mod-pdo-mysql=y
# CONFIG_PACKAGE_php7-mod-exif=y
# CONFIG_PACKAGE_php7-mod-xml=y
# CONFIG_PACKAGE_php7-mod-openssl=y
# CONFIG_PACKAGE_php7-mod-fileinfo=y

# CONFIG_PACKAGE_mariadb-common=y
# CONFIG_PACKAGE_mariadb-server-base=y
# CONFIG_PACKAGE_mariadb-server=y
# CONFIG_PACKAGE_mariadb-client-base=y
# CONFIG_PACKAGE_mariadb-client=y
# CONFIG_PACKAGE_mariadb-client-extra=y
