# AdguardHome
server {
		listen 80;
		listen [::]:80;
		server_name adg;
		access_log off; # logd openwrt;
		
		location /{
				   proxy_pass http://10.0.0.1:3000;
				   proxy_set_header Host $host;
				   proxy_set_header X-Real-IP $remote_addr;
				   proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
				   proxy_set_header REMOTE-HOST $remote_addr;
				   }
	}

# PVE
server {
		listen 443 ssl;
		listen [::]:443 ssl;
		server_name pve;
		access_log off; # logd openwrt;
		
		location /{
				   proxy_pass https://10.0.0.10:8006;
				   proxy_set_header Host $host;
				   proxy_set_header X-Real-IP $remote_addr;
				   proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
				   proxy_set_header REMOTE-HOST $remote_addr;
				   }
	}
server
    {
        listen 80;
		server_name pve;
		return 301 https://$host$request_uri;	
	}

# 青龙
server {
		listen 80;
		listen [::]:80;
		server_name ql;
		access_log off; # logd openwrt;
		
		location /{
				   proxy_pass http://10.0.0.1:5700;
				   proxy_set_header Host $host;
				   proxy_set_header X-Real-IP $remote_addr;
				   proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
				   proxy_set_header REMOTE-HOST $remote_addr;
				   }
	}
