:root {
    --main-color: #09c;
    --header-bg: #09c;
    --header-color: #fff;
    --bar-bg: #5e72e4;
    --menu-bg-color: #fff;
    --menu-color: #5f6368;
    --menu-color-hover: #202124;
    --main-menu-color: #202124;
    --submenu-bg-hover: #d4d4d4;
    --submenu-bg-hover-active: #09c;

    --blue: #5e72e4;
    --indigo: #5603ad;
    --purple: #8965e0;
    --pink: #f3a4b5;
    --red: #f5365c;
    --orange: #fb6340;
    --yellow: #ffd600;
    --green: #2dce89;
    --teal: #11cdef;
    --cyan: #2bffc6;
    --white: #fff;
    --gray: #8898aa;
    --gray-dark: #32325d;
    --light: #96999c;
    --lighter: #e9ecef;
    --primary: #5e72e4;
    --secondary: #f7fafc;
    --success: #2dce89;
    --info: #11cdef;
    --warning: #fb6340;
    --danger: #f5365c;
    --dark: #212529;
    --default: #172b4d;
    --white: #fff;
    --neutral: #fff;
    --darker: black;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;

    --font-body: "Microsoft Yahei", "WenQuanYi Micro Hei", "sans-serif", "Helvetica Neue", "Helvetica", "Hiragino Sans GB";
}

.cbi-section > h3:first-child, .panel-title{
	font-size:1.1rem !important;
}
h2 {
    font-size: 1.4rem !important;
}
.main .main-left .nav li.slide .menu{
	font-size:0.9rem !important;
	margin-top: 0.4rem !important;
	margin-bottom: 0.4rem !important;
	padding: 0.5rem 0 0.5rem 2.5rem !important;
}
.main .main-left .nav li.slide .slide-menu li{
	padding: 0.4rem 0rem !important;
}
.cbi-section, .cbi-section-error, #iptables, .Firewall form, #cbi-network > .cbi-section-node, #cbi-wireless > .cbi-section-node, #cbi-wireless > #wifi_assoclist_table, [data-tab-title], [data-page^="admin-system-admin"]:not(.node-main-login) .cbi-map:not(#cbi-dropbear), [data-page="admin-system-opkg"] #maincontent > .container{
	    margin: 1rem 0 !important;
}
h3{
	font-size:1.1rem !important;
	padding: 1.5rem 1.5rem 1rem 1.5rem !important;
}
code,.cbi-progressbar::after{
	font-size-adjust: none !important;
	font-family: inherit !important;
    font-size: 0.9em !important;
}
[data-page="admin-system-flash"] legend{
	font-size: 1.1rem !important;
     padding-bottom:0.6rem !important;
}
.node-main-login .main .main-right #maincontent .container .cbi-map .cbi-section .cbi-section-node .cbi-value .cbi-value-field input{
height:auto !important;	
}
.main .main-left .nav li.slide .menu[data-title=Docker]:before {
  content: "\e911";
  color: #6699ff;
}
.main .main-left .nav li.slide .menu[data-title="Bandwidth Monitor"]:before {
  content: "\e90d";
  color: #01e501d4;
}
.main .main-left .nav li.slide .menu::before{
	font-size:1.1rem !important;
}
